.circle-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: var(--color-success);
  opacity: 1;
  animation: pulse 2s ease-out infinite;
}

.circle-bg2 {
  opacity: 0.7;
  animation-delay: 0.15s;
}

.circle-bg3 {
  opacity: 0.5;
  animation-delay: 0.3s;
}

.circle-bg4 {
  opacity: 0.3;
  animation-delay: 0.45s;
}

.circle-bg5 {
  opacity: 0.1;
  animation-delay: 0.6s;
}

.checkmark-circle {
  fill: none;
  stroke: white;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark-check {
  fill: none;
  stroke: white;
  stroke-width: 13;
  stroke-linecap: round;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.3);
    opacity: 0.5;
  }
}
